<html lang="en">
<% include ../common/head %>
<body>
	<div class="container-fluid">
		<div class="top_nav">
			<div class="nav_title">
				<div class="left">
					<i class="fa fa-user-circle-o" aria-hidden="true"></i>
					<span>Kryptoscan coming soon!</span>
				</div>
				<div class="right">
					<span>VERSION 1.0</span>
				</div>
			</div>
			<div class="nav_body">
				<div class="page_title">
					<a href="/"><img src="/images/home-icon.png" width="30" height="30"></a>
				</div>
				<div class="logo">
					<a href="/"><img src="/images/logo1.png"></a>
				</div>
			</div>
		</div>
		<div class="navbar-fixed-left">
			<div class="top">
				
			</div>
			<div class="bottom">
				<% include ../partials/menu_buttons %>
			</div>
		</div>

		<div class="tab-content">
			<ul class="scan_list_menu">
				<li><a href="/scan_1">scan 1</a></li>
				<li><a href="/scan_2">scan 2</a></li>
				<li><a href="/datafeed_integration">datafeed integration</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
