<div class="menu_item service"><a data-toggle="tab" >
	<img src="/images/account_services-icon.png" width="30" height="30">
	<span>ACCOUNT SERVICES</span>
</a></div>
<div class="menu_item help"><a data-toggle="tab" >
	<img src="/images/help-icon.png" width="30" height="30">
	<span>HELP</span>
</a></div>
<div class="menu_item settings"><a data-toggle="tab" >
	<img src="/images/settings-icon.png" width="30" height="30">
	<span>SETTINGS</span>
</a></div>
<div class="menu_item logout"><a data-toggle="tab" >
	<img src="/images/logout-icon.png" width="30" height="30">
	<span>LOGOUT</span>
</a></div>